body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    flex-direction: column;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-error {
    border-color: red;
}

.error {
    color: red;
    font-size: 12px;
    height: 14px;
    margin: 0;
}

#authContainer {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 15px;
    margin: 10px;
    border: solid 2px black;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
}
